<div>
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']">
    <span style="color: white;"> RentRank</span>
    </a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <div class="menu nav">
      <!-- przycisk powinien sie zmieniac w zaleznosci od tego czy uzytkownik jest zalogowany - poprawic binding -->
      <span *ngIf="!(this.authService.isLoggedIn |async)">
        <button mat-raised-button (click)="open()">Zaloguj</button>
      </span>
    <span *ngIf="this.authService.isLoggedIn |async" >
      <button mat-raised-button (click)="onLogout()" >Wyloguj</button>
    </span>
    </div>
  </mat-toolbar>
</p>
</div>
<div>
  <app-breadcrumbs></app-breadcrumbs>
</div>

