<div>
<p>
  <mat-toolbar color="primary">
    <a [routerLink]="['/']">
    <span style="color: white;"> RentRank</span>
    </a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <div class="menu nav">
      <span *ngIf="!isAuthenticated">
        <button mat-raised-button (click)="open()">Zaloguj</button>
      </span>
    <!-- <span *ngIf="this.authService.isLoggedIn |async" >
      <button mat-raised-button (click)="onLogout()" >Wyloguj</button>
    </span > -->
    <div class="dropdown" *ngIf="isAuthenticated">
      <a id="dropdownMenuButton1" data-bs-toggle="dropdown">
        <mat-chip-list aria-label="Dog selection">
          <mat-chip color="primary">
            <mat-chip-avatar>
                <!-- <img src="https://ae01.alicdn.com/kf/HTB18TJvazzuK1Rjy0Fpq6yEpFXal.jpg"/> -->
                <img [src]="imgPath"/>
            </mat-chip-avatar>
            {{email}}
          </mat-chip>
        </mat-chip-list>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" [routerLink]="['/my-profile']">Mój profil</a></li>
        <li><a class="dropdown-item" href="#">Wystawione oferty</a></li>
        <li><a class="dropdown-item" href="#">Zapisane oferty</a></li>
        <li><a class="dropdown-item" (click)="onLogout()">Wyloguj</a></li>
      </ul>
    </div>
    </div>
  </mat-toolbar>
</p>
</div>
<div>
  <app-breadcrumbs></app-breadcrumbs>
</div>
<div *ngIf="loading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>

