
<div class="menu justify-c">
<button class="menu transparent-button" style="margin-right: 25px;" [routerLink]="['/']">
<mat-icon>home</mat-icon>
<a >Strona głowna</a>
</button>
<button class="menu transparent-button" style="margin-right: 25px;"  [routerLink]="['/docs']" >
<mat-icon>document_scanner</mat-icon>
<a >Dokumenty</a>
</button >
<button class="menu transparent-button" style="margin-right: 25px;" [routerLink]="['/faq']">
<mat-icon>question_mark</mat-icon>
<a>FAQ</a>
</button>
<div class="menu nav">
  <button class="menu transparent-button" [routerLink]="['/settings']">
<mat-icon>settings</mat-icon>
<a>Ustawienia</a>
</button>
</div>
</div>


<!-- <div class="menu">
  <mat-icon>home</mat-icon>
  <a  class="icons-oneline">Strona głowna</a>
  <mat-icon>document_scanner</mat-icon>
  <a  class="icons-oneline">Dokumenty</a>
  <mat-icon>question_mark</mat-icon>
  <a class="icons-oneline">FAQ</a>
  <div class="menu nav">
  <mat-icon>settings</mat-icon>
  <a class="icons-oneline">Ustawienia</a>
  </div>
  </div> -->

