// .nav-text {
//   vertical-align: middle;
// }
.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.icons-oneline {
 display:inline-block;
 vertical-align: middle;
}

.menu2 {
  display: flex;
  align-items: center;
}
.nav {
 margin-left: auto;
 order: 2;
}

.transparent-button {
  border: none;
  border-radius: 5px;
}


// button hover mialo zmieniac background color i kursor jak sie najezdza na przycisk, ogolnie to troche nagrzebalem przy tych iconach, zeby je zrobic w formie przycisku. Rokziminy razem wierze
//
// a.button:hover{
//   background: #383;
// }
