// .nav-text {
//   vertical-align: middle;
// }
.menu {
  display: flex;
  align-items: center;
}
.icons-oneline {
 display:inline-block;
 vertical-align: middle;
}

.nav {
 margin-left: auto;
 order: 2;
}

.justify-c{
  justify-content: space-around;
}

.transparent-button {
  border:blueviolet 2.5px solid;
  border-radius: 5px;
  background: none;
}


// button hover mialo zmieniac background color i kursor jak sie najezdza na przycisk, ogolnie to troche nagrzebalem przy tych iconach, zeby je zrobic w formie przycisku. Rokziminy razem wierze
//
button:hover{
  background: rgba(152, 60, 170, 0.795);
  transition: 0.7s;
}
