.shadow {
  box-shadow: 3px 3px 8px rgba(0,0,0.3)
}

.margin {
  margin: 10px;
}

.specific-color {
  color: rgba(137, 43, 226, 0.836);
}
.btn {
  background-color:#673ab7;
  color: white;
}

input.ng-invalid.ng-touched {
  border: 3px solid rgb(247, 8, 48);
}
