<div class="container" style="margin-top: 100px">
  <div *ngIf="loading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form [formGroup]="registrationForm" (ngSubmit)="registrationSubmit(userName.value, firstName.value, lastName.value, city.value, street.value, zipCode.value)"
  *ngIf="!loading">
    <div class="row justify-content-center">
      <div class="col-6 text-center border border-1 rounded shadow">
        <h2>Uzupełnij dane profilowe</h2>
        <div class="form-group m-2">
          <hr/>
          <input
            id="userName"
            type="text"
            class="form-control text-center"
            placeholder="Nazwa użytkownika"
            formControlName="userName"
            #userName
            ngbPopover="Ta nazwa bedzię wyświetlana innym użytkownikom" triggers="mouseenter:mouseleave"
          />
          <span *ngIf="!registrationForm.get('userName').valid && registrationForm.get('userName').touched" style="color: red;">*Pole jest wymagane</span>
        </div>
        <div class="form-group m-2">
          <hr />
          <input
            id="firstName"
            type="text"
            class="form-control text-center"
            placeholder="Imię"
            formControlName="firstName"
            #firstName
          />
          <span *ngIf="!registrationForm.get('firstName').valid && registrationForm.get('firstName').touched" style="color: red;">*Pole jest wymagane</span>
        </div>
        <div class="form-group m-2">
          <input
            id="lastName"
            type="text"
            class="form-control text-center"
            placeholder="Nazwisko"
            formControlName="lastName"
            #lastName
          />
          <span *ngIf="!registrationForm.get('lastName').valid && registrationForm.get('lastName').touched" style="color: red;">*Pole jest wymagane</span>
        </div>
        <div class="form-group m-2">
          <input
            id="city"
            type="text"
            class="form-control text-center"
            placeholder="Miasto"
            formControlName="city"
            #city
          />
          <span *ngIf="!registrationForm.get('city').valid && registrationForm.get('city').touched" style="color: red;">*Pole jest wymagane</span>
        </div>
        <div class="form-group m-2">
          <input
            id="street"
            type="text"
            class="form-control text-center"
            placeholder="Ulica"
            formControlName="street"
            #street
          />
          <span *ngIf="!registrationForm.get('street').valid && registrationForm.get('street').touched" style="color: red;">*Pole jest wymagane</span>
        </div>
        <div class="form-group m-2">
          <input
            zipValid
            id="zipCode"
            type="text"
            class="form-control text-center"
            placeholder="Kod pocztowy"
            formControlName="zipCode"
            maxlength="6"
            #zipCode
          />
          <span *ngIf="!registrationForm.get('zipCode').valid && registrationForm.get('zipCode').touched" style="color: red;">*Pole jest wymagane</span>
          <hr />
        </div>
        <div class="row">
          <div class="d-grid gap-2">
            <button class="btn mb-2" type="submit" (click)="redirectAfterSec()" [disabled]="!registrationForm.valid">Zaktualizuj dane</button>
            <div class="alert alert-success" role="alert" *ngIf="formState === true">
              <b>Rejestracja ukończona pomyślnie</b></div>
              <div class="alert alert-danger" role="alert" *ngIf="formState === false">
                <b>{{error}}</b>
              </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
