
.vl {
  border-left: 4px solid #673ab7;
  height: 500px;
}
.biggerFont {
  font-size: medium;
}
.buttons {
margin-right: 10px;
}
img {
  max-width: 120%;
  max-height: 120%;
}

input {
  resize: horizontal;
  width: 270px;
}


input:focus {
  min-width: 200px;
}
