/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dropdown-menu{
  transform: translate(4px,32px) !important;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color:  #673ab7 !important;
  border-color:  #673ab7 !important;
}



